.ProductDetails {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
  }
  
  .CarouselImage {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .detailsBlock-1 {
    margin-top: 20px;
  }
  
  .detailsBlock-2 {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .detailsBlock-2-span {
    margin-left: 10px;
    color: gray;
  }
  
  .detailsBlock-3 {
    margin-top: 20px;
  }
  
  .detailsBlock-3-1 {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .detailsBlock-3-1-1 {
    display: flex;
    align-items: center;
  }
  
  .detailsBlock-3-1-1 button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .detailsBlock-3-1-1 input {
    width: 40px;
    text-align: center;
    margin: 0 5px;
  }
  
  .detailsBlock-3-1 button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .redColor {
    color: red;
  }
  
  .greenColor {
    color: green;
  }
  
  .detailsBlock-4 {
    margin-top: 20px;
  }
  
  .submitReview {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
  }
  